* {
  margin: 0px;
  padding: 10px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-text-color: black ;
  --secondary-text-color: gray;
  --primary-action-color: purple;
  --secondary-action-color: magenta;  
}

/* General Template Layout Elements */
header {
 display: flex;
 justify-content: space-between;
}

h1 {
  font-size: 3.2vw;
}

.page-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;
}

.content-wrapper {
  width:60%;
}

.result-wrapper {
  width:60%;
  font-size: 2.4vw;
  color: var(--secondary-text-color);
  border-top: 2px solid;
  visibility: hidden;
}

.btn {
  border: none;
  background-color:  var(--primary-action-color);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 0px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--secondary-action-color);;
}

/* Results/Enter Scores */
input[type=text] {
  border: 2px solid var(--secondary-action-color);
  border-radius: 4px;
}

.btnSubmitScore {
  margin: 0 10px;
}

.initials {
  margin: 0px 5px;
}

#score {
  padding: 0px;
}

/* Display High Scores */
#high-score-link {
  color: var(--secondary-action-color);
  cursor: pointer;
}

.score:nth-child(odd) {
  background:#D3D3D3;
}

/* Hide All Inactive Templates */
#quiz-content-template {
  display: none;    
}

#results-content-template {
  display: none;   
}

#highscores-content-template {
  display: none;   
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  header {
    justify-content: space-around;
   }   

   #answers {
    display: flex;
    flex-direction: column;
    align-items:center;
  }
}